#footer{
    
    width: 100%;
    height: 1000px;
    background-color: #2E2D2D;
    position: absolute;
     margin-top: 700px
    
}

#img{
    
    width: 500px;
    height: 320px;
   
}

.imgcontainer{
    
      position: relative;
    margin-left: 160px;
    margin-top: 190px;
    margin-bottom: 300px;
}

.image{
    
    margin: 12px;
    opacity: 1;
    display: block;
     transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
   
}

.container:hover .middle {
  opacity: 1;
}

.text1 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



.footerTable{
    
    margin-top: 70px;
    margin-left: 280px;
}

.td{
    border-right: 2px #DCE0E0 solid;
}

.icon{
    
    height: 50px;
    width: 50px;
}
.footerText{
    
    color: #5F5F5F;
    font-size: 15px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 570px;
    
}

.icon2{
      height: 30px;
    width: 30px;
    
}


